* {
    padding: 0;
    margin: 0;

}

body {
    background-color: rgb(9, 9, 51);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(4, 4, 101);
}

.left {
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;

    margin: 9px;
    padding: 4px;
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;

}

nav ul li a:hover {
    color: rgb(132, 223, 42);
}

main hr {
    margin: 40px 80px;
    border: 0;
    background: #9c97f1;
    height: 1.2px;
}

.first-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 110px 0px;
}

.first-section>div {

    width: 26%;
}

.leftSection {

    font-size: 2rem;

}

.purple {
    color: aqua;
}

.text-grey {
    color: gray;
}
button:hover{
    background:#0c0d37;
    
}
.btn{
    color: #fff;
    background:#1e2167;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

.rightSection img {
    width: 80%;
    /* border: 2px solid red; */
}

#element {
    color: rgb(15, 247, 247);
}

.second-section {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.second-section h1 {
    font-size: 1.9rem;
}

.second-section .box {
    width: 70vw;
    height: 2px;
    margin: 64px 0px;
    background: white;
    display: flex;

}

.second-section .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0px 90px;
}

.image-top {
    width: 35px;
    position: relative;
    top: -42px;
    left: -9px;
}

.vertical-title {
    position: relative;
    top: 60px;
    width: 150px;
}

.vertical-desc {
    position: relative;
    top: 70px;
    width: 150px;
    color: gray;
    font-size: 10px;
}
footer{
    background-color: #15192c;
    /* height: 250px; */
    
}
.footer{
    display:flex;
    padding: 4px;
    padding: 22px 122px;
    justify-content: space-evenly;
    /* border: 2px solid red; */
}
.footer ul {
    list-style: none;
}
.footer div{
    width: 103px;
    margin:4px;
    padding: 4px;

}
footer .footer-rights{
    /* margin-top: 20px; */
    padding: 15px ;
    text-align: center;
    color: gray;
}
.enquiryForm{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;
}
.email{
    display: flex;
    justify-content:center;
    align-items: center;
}
.email h1{
    position: relative;
    top: -60px ;
    left: 100px ;
    margin: 10px;
    color: red;
}
.mail-id{
    font-size: 20px;
    padding: 14px;
    border-radius: 15px;
    outline-color: #2af745;
    border-style: hidden;
    margin-right: 10px ;

}
input{
    width: 25vw;
}
.subs-btn{
    position: relative;
    left: -339px ;
    
}
.subs-btn button {
    border: 2px solid rgb(43, 43, 88);
    padding: 14px ;
    width: 14vw ;
    font-family: cursive;
    font-size: x-large;
    border-radius: 15px;
    cursor: pointer;
    color: #fff;
    background:#ee4b0a;
    border-style: hidden;
}